workflows/my-cool-workflow.json
{
  "name": "Chatbot Memory Scrubbed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-220, 0],
      "id": "887abd78-0352-4520-bb02-d6d8135ba2f9",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fb4d6fb1-38ea-4730-a30a-2399575029e9",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "2c4f5c46-db37-4558-9998-2c12fca2de25",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [0, 0],
      "id": "43fe41e2-37aa-449f-911a-4eb723000371",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "984e7649-df3a-4731-87b6-ec1bd01de2d3",
              "name": "idConversa",
              "value": "={{ $json.body.phone.split('-')[0] }}",
              "type": "string"
            },
            {
              "id": "2234f258-45b4-4359-a6dd-9f07ffd20d73",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "f5d1e2b6-1eda-40cc-9be7-43db1ff947cf",
              "name": "nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "e03b5476-edaf-41a0-89dd-4d9f316845ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WhatsApp": "={{ $json.idConversa }}",
            "Nome": "={{ $json.nome }}"
          },
          "matchingColumns": ["WhatsApp"]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [440, 0],
      "id": "14507d2c-a792-48ad-9834-8951e20bfc6d",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.mensagem }}",
        "options": {
          "systemMessage": "Você é um agente de suporte. Seja educado, engraçado e jamais utilize emojis em suas respostas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [660, 0],
      "id": "4535d47a-8629-4a47-ba6a-9b48fd9bc570",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [550, 220],
      "id": "20f5ad3e-87bc-4dbb-b75e-298430622e93",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [680, 220],
      "id": "b6e48fac-0aaa-45bc-a50a-2f5caaf420f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/YOUR_INSTANCE/token/YOUR_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "YOUR_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.idConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [900, 0],
      "id": "b2f24150-f9a7-4eaa-bbd5-e8c5ae8a90c1",
      "name": "Z-API Request"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Edit Fields": { "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]] },
    "Google Sheets": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Z-API Request", "type": "main", "index": 0 }]] },
    "Groq Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] }
  }
}
